{% extends "base.html" %}

{% block title %}NSS Dashboard{% endblock %}

{% block content %}
<div class="content-header">
    <h1 class="text-center">Welcome to the NSS Dashboard</h1>
</div>
<div class="container">
    <div class="row">
        <!-- Pending Applications -->
        <div class="col-lg-4 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                   
                    <p>Pending Applications</p>
                </div>
                <div class="icon">
                    <i class="fas fa-clock"></i>
                </div>
                <a href="{% url 'pending_applications' 'nss' %}" class="small-box-footer">
                    View Details <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <!-- Approved Applications -->
        <div class="col-lg-4 col-6">
            <div class="small-box bg-primary">
                <div class="inner">
                    <p>Approved Applications</p>
                </div>
                <div class="icon">
                    <i class="fas fa-thumbs-up"></i>
                </div>
                <a href="{% url 'approved_list' 'nss' %}"  class="small-box-footer">
                    View Details <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        
       
    </div>
</div>
{% endblock %}
